@import "tailwindcss";

html,
body {
	height: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #212529;
}

a:hover {
	text-decoration: underline;
	color: #000000;
}
